@media (min-width: 900px) {
  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: static;
    background-color: transparent;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }

  nav ul li {
    padding: 0;
  }

  .menu-icon {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 1000px;
  }
}


  